<div class="header">
<h1>⚔️Heroes Alive⚔️</h1>
<%= link_to "Add New Hero", '/tasks/new', class: "btn" %>
</div>
<ul class="container">
  <% @tasks.each do |task| %>
    <li class="hero-container"><%= link_to task.name, task_path(task)%></li>
  <% end %>
</ul>
